<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Counters {{counter.name + " " + "#" + counter.id}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Valeur : {{counter.value}}</p>
      <p>Crée le: {{ counter.created_at }}</p>
      <p>Modifié le : {{ counter.updated_at }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click) = "increment()" >Incrémenter</button>
      <button mat-button (click) = "decrement()" >Décrementer</button>
      <button mat-button (click) = "resetOne()" >Réinitialiser</button>
      <a mat-button target="_blank" [href]="counter.url">Link to counter</a>
    </mat-card-actions>
  </mat-card>
  