.counter {
    width: 300px;
    margin: 5px;
    display: inline-block;
} 
h1 {
    color : rgb(12, 193, 209)  ;
}
.mat-card{
    margin: 3em;
}
.mat-button{
    border: 2px solid black;
    background: rgba(15, 108, 214, 0.356);
}
.mat-card-title{
    line-height:2;
    color : rgba(15, 108, 214);
}
.mat-card-content p{
    font-weight: bold;
}